.orders-page {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.order-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.order-card h3 {
  color: #333;
}

.order-card ul {
  list-style: none;
  padding: 0;
}

.order-card li {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}
.home-btn {
  background-color: #007bff;
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.home-btn:hover {
  background-color: black;
}